.parallax-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("../../../../public/visitor-management-system-welcome.png");
  background-size: cover;
}

.slide-container-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  top:65%;
  left: 55%;
  z-index: 1000; 
}

.slide-container {
  width: 350px;
  height: 60px;
  font-size: 18px;
  background-color:#dc143c;
  font-weight: bold;
  color: white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.slide-container:hover {
  background-color:#684683;
}







